.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #4ECCA3);
  background-image: -moz-linear-gradient(top, #000000, #4ECCA3);
  background-image: -ms-linear-gradient(top, #000000, #4ECCA3);
  background-image: -o-linear-gradient(top, #000000, #4ECCA3);
  background-image: linear-gradient(to bottom, #000000, #4ECCA3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lobster', cursive;
  color: #eff0dd;
  font-size: 30px;
  padding: 2rem;
  margin:2rem;
  text-decoration: none;
  width:12rem;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #4ECCA3, #000000);
  background-image: -moz-linear-gradient(top, #4ECCA3, #000000);
  background-image: -ms-linear-gradient(top, #4ECCA3, #000000);
  background-image: -o-linear-gradient(top, #4ECCA3, #000000);
  background-image: linear-gradient(to bottom, #4ECCA3, #000000);
  text-decoration: none;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.foot{
  font-size: 1rem;
}
.refresh{
  margin:2rem;
  padding:auto;
  width:50;
  text-align: center;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
}
