body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin:0;
}
p{
  color: hsl(229, 6%, 66%);
}
h1{
  margin:0;
}
h3{
  color:hsl(234, 12%, 34%);
}

.heading1 {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

.heading1 {
  font-weight: 600;
  color:hsl(234, 12%, 34%);
}

.heading3 {
  font-weight: 600;
  font-stretch:extra-condensed;
  color: hsl(229, 6%, 66%);
  font-size: 0.95rem;
}
.card{
  border-radius: 3%;
  border-style:outset;
  border-width:thick;
  box-shadow:2px 2px 3px  hsl(229, 6%, 66%);
  border-color: hsl(0, 0%, 98%);
  width:20%;
  font-size: 0.80rem;
  font-weight: 600;
}
.card1 {
  border-top-color: hsl(0, 78%, 62%);
}

.card2 {
  border-top-color: hsl(180, 62%, 55%);
}

.card3 {
  border-top-color: hsl(34, 97%, 64%);
}

.card4 {
  border-top-color: hsl(212, 86%, 64%);
}
.card-img{
  text-align: right;
}
.icon-img{
  margin:0;
  padding-right: 2rem;
}

.body-p{
  font-size: 0.75rem;
  font-weight: 600;
}
