body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
}

p {
  color: hsl(229, 6%, 66%);
}

h1 {
  margin: 0;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-size: 1.1rem;
  font-weight: 600;
}

.heading1 {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

.heading2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.heading3 {
  font-weight: 400;
  font-stretch:  ultra-condensed;
  color: hsl(229, 6%, 66%);
  white-space: nowrap;
}

.container {
  height: 50vh;
  width: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  margin: 3rem auto 3rem auto;
}

.card {
  background-color: #fafafa;
  box-shadow: 0 4px 8px 0 hsl(229, 6%, 66%);
  border-radius: 5%;
  border-top-style: solid;
  border-width: thick;
  font-size: 0.80rem;
  font-weight: 600;
  overflow: hidden;
  text-align: left;
  transition: 0.3s;
  white-space: nowrap;
  padding: 0 0 0 1rem;
}

#card1 {
  border-top-color: hsl(0, 78%, 62%);
  grid-area: 2/1/4/2;
  margin:0 1rem 1rem 1rem;
}

#card2 {
  border-top-color: hsl(180, 62%, 55%);
  grid-area: 1/2/3/3;
  margin:0 1rem 1rem 1rem;
}

#card3 {
  border-top-color: hsl(34, 97%, 64%);
  grid-area: 3/2/5/3;
    margin:1rem 1rem 0 1rem;
}

#card4 {
  border-top-color: hsl(212, 86%, 64%);
  grid-area: 2/3/4/4;
    margin:0 1rem 1rem 1rem;
}

.card-img {
  text-align: right;
}

.icon-img {
  margin: 0;
  padding: 3rem 2rem;
}

.body-p {
  font-size: 0.75rem;
  font-weight: 600;
}
