body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
}

p {
  color: hsl(229, 6%, 66%);
}

h1 {
  margin: 0;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-size: 1.1rem;
  font-weight: 600;
}

.heading1 {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

.heading2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.heading3 {
  font-weight: 600;
  font-stretch: extra-condensed;
  color: hsl(229, 6%, 66%);
}

.container {
  height: 50vh;
  width: 80vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-template-areas:
    "card1 card2 card4"
    "card1 card3 card4";
  margin: 3rem auto 3rem auto;
}

.card {
  box-shadow: 0 4px 8px 0 hsl(229, 6%, 66%);
  transition: 0.3s;
  border-radius: 5%;
  background-color: #fafafa;
  border-top-style: solid;
  border-width: thick;
  overflow: hidden;
  font-size: 0.80rem;
  font-weight: 600;
  white-space: nowrap;
  text-align: left;
  padding:0 0 0 1rem;
}

#card1 {
  border-top-color: hsl(0, 78%, 62%);
  grid-area:card1;
  /* To push supervisor card to vertical center */
  margin:8rem 0 8rem 0;
}

#card2 {
  border-top-color: hsl(180, 62%, 55%);
    grid-area:card2;
}

#card3 {
  border-top-color: hsl(34, 97%, 64%);
    grid-area:card3;
}

#card4 {
  border-top-color: hsl(212, 86%, 64%);
    grid-area:card4;
    /* To push calculator card to vertical center */
    margin:8rem 0 8rem 0;
}

.card-img {
  text-align: right;
}

.icon-img {
  margin: 0;
  padding:3rem 2rem;
}

.body-p {
  font-size: 0.75rem;
  font-weight: 600;
}
